<!-- https://www.cssscript.com/color-picker-talwin/ -->
{% extends 'base_templates/layout.html' %}
{% block content %}
<form method="post">

    <div class="info">

        <div class="dropdown">

            <a class="dropdown" onclick="dropdownp()">
                Parent ▾
            </a>

            <div id="parentdropdown" class="dropdown-content">
                {% for parent in parents %}
                    <div class="item">
                        {% if parent[0]==info[0]: %}
                            <input type="radio" id="parent{{parent[0]}}" name="parent" value={{parent[0]}} checked>
                        {% else %}
                            <input type="radio" id="parent{{parent[0]}}" name="parent" value={{parent[0]}}>
                        {% endif %}
                        <label for="parent{{parent[0]}}">{{parent[1]}}</label>
                    </div>
                {% endfor %}
            </div>

        </div>
        
    <input type="text" name="name" value="{{info[1]}}">
    
    </div>
        
    <textarea name="entry" rows="5" cols="90">{{info[2]}}</textarea>

    <input type="submit">


</form>
{% endblock %}