<!-- https://www.cssscript.com/color-picker-talwin/ -->
{% extends 'base_templates/layout.html' %}
{% block content %}
<form method="post">
    {% for parent in parents %}
        {% if parent[0]==info[0]: %}
            <input type="radio" id="parent{{parent[0]}}" name="parent" value={{parent[0]}} checked>
        {% else %}
            <input type="radio" id="parent{{parent[0]}}" name="parent" value={{parent[0]}}>
        {% endif %}
        <label for="parent{{parent[0]}}">{{parent[1]}}</label>
    {% endfor %}
    <br>
    <input type="text" name="name" value="{{info[1]}}">
    </br>
    <textarea name="entry" rows="10" cols="50">{{info[2]}}</textarea>
    </br>
    <input type="submit">
</form>
{% endblock %}