{% extends 'base_templates/layout.html' %}
{% block content %}
<form method="post">

    <div class="info">
        <div class="dropdown">
            <a class="dropdown" onclick="dropdownp()">
                Parent ▾
            </a>
            <div id="parentdropdown" class="dropdown-content">
                {% for folder in folders %}
                    <div class="item">
                        {% if folder[0]==information[0]: %}
                            <input type="radio" id="folder{{folder[0]}}" name="folder" value={{folder[0]}} checked>
                        {% else %}
                            <input type="radio" id="folder{{folder[0]}}" name="folder" value={{folder[0]}}>
                        {% endif %}
                        <label for="folder{{folder[0]}}">{{folder[1]}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <input type="text" name="name" value="{{information[1]}}">

        <div class="dropdown">
            <a class="dropdown" onclick="dropdownt()">
            Tags ▾
            </a>
            <div id="tagsdropdown" class="dropdown-content">
                {% for tag in all_tags %}
                    <div class="item">
                        {% if tag in tags:%}
                            <input class="form-check-input" type="checkbox" name="tag{{tag[0]}}" value={{tag[0]}} checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="tag{{tag[0]}}" value={{tag[0]}}>
                        {% endif %}
                            <label class="form-check-label" for="tag{{tag[0]}}">{{tag[1]}}</label>
                            <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <textarea name="entry" rows="25" cols="90">{{information[2]}}</textarea>

    <input type="submit">

</form>

{% endblock %}