{% extends 'base_templates/layout.html' %}
{% block content %}
<div class="ancestry">
{% for parent in ancestry %}
    <a href="/folder/{{parent[0]}}">{{parent[1]}} ▸</a>
{% endfor %}
</div>
<div class="info">
    <h1>
        {{information[0][0]}} 
        <a href="/edit-entry/{{id}}">Edit</a>
    </h1>

    {% if tags %}
    <br>
    <div class="tags">
        {% for tag in tags %}
            <a href="/tag/{{tag[0]}}" title="{{tag[1]}}">{{tag[1]}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="entry">{{information[0][1]}}</div>

{% endblock %}