{% extends 'base_templates/layout.html' %}
{% block content %}
{% for parent in ancestry %}
<a href="/folder/{{parent[0]}}">{{parent[1]}}</a> >
{% endfor %}
<h1>{{infoname[0]}} <a href="/edit-folder/{{id}}">edit</a></h1>
<h2>{{infoname[1]}}</h2>
{% for folder in folders %}
<a href="/folder/{{folder[0]}}">{{folder[1]}}</a>
{% endfor %}
{% for entry in entries %}
<a href="/entry/{{entry[0]}}">{{entry[1]}}</a>
{% endfor %}
<a href="/create-folder/{{id}}">Add a folder...</a>
<a href="/create-entry/{{id}}">Add an entry...</a>
{% endblock %}