/**************/
/**          **/
/**  GLOBAL  **/
/**          **/
/**************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

html,body{
    height: 100%;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content{
    /* padding: 20px 0 20px 10px;  */
    /* position: absolute; */
    background-color:#f5f5f5ff;
    border-left: 1px solid #5D6063;
    border-right: 1px solid #5D6063;
    flex: 1;
    margin: 0 350px;
    /* width: 700px;  */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 0px 0px 20px;
    /* top: 100px; */
    /* overflow: hidden; */
}

.tags{
    /* margin: 0px 15px 0px 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.tags a{
    /* margin: 15px 0px 15px 15px; */
    padding: 10px;
    text-decoration: none;
    /* color: 0000EE; */
    border:1px solid #5D6063;
    background-color: #5D6063;
    color: #fff;
    border-radius: 30px;
    /* font-size: 1.5em; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;
}

input[type=text]{
    font-size: 1.5em;
}

input[type=submit]{
    background-color: #5D6063;
    color: whitesmoke;
    border: #5D6063 2px solid;
    font-size: 1.4em;
    padding: 12px;
    border-radius: 6px;
    margin: 5px;
}

input[type=submit]:hover{
    border: #000 2px solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

textarea{
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

.footer{
    padding: 10px;
    background-color: #00d2b4ff;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.info{
    margin: 30px 30px 30px 30px;
    /* padding: 5px; */
    font-size: 1.5em;
    display: block;
}

/* div.description{
    padding: 3px;
    font-size: 1.5em;
} */

.entry{
    /* https://stackoverflow.com/questions/12202844/style-text-inside-a-textarea */
    white-space: pre-line;
    text-align: left;
    padding: 0px 150px 0px 150px;
    font-size: 1.5em;
}

.ancestry{
    margin: 15px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}

/* dropdown is based heavily off w3 schools dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

a.dropdown {
    /* margin: 12px; */
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    border:2px solid #5D6063;
    background-color: #5D6063;
    color: #fff;
    /* border-radius: 5px; */
    font-size: 1.2em;
}

a.dropdown:hover{
    border: #000000 solid 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
    border-bottom: #5D6063 1px solid;
    border-collapse: collapse;
    overflow-y: scroll;
    max-height: 400px;
    font-size: 0.8em;
}

.item{
    display: flex;
    justify-content: left;
    gap: 5px;
    /* margin: 0 0 0 5px; */
    border: #5D6063 1px solid;
    border-bottom: 0px;
    padding: 3px;
}

.item label{
    text-align: left;
}

.ancestry a{
    /* margin: 15px 0px 0px 15px; */
    padding: 7px;
    text-decoration: none;
    /* color: 0000EE; */
    border:1px solid #5D6063;
    background-color: #5D6063;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5em;
}

/* div.ancestry a:hover{
    text-decoration: underline;
} */

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.links a{
    margin: 5px;
    padding: 40px;
    text-decoration: none;
    /* text-shadow: #000000 1px 1px; */
    border:1px solid #000000;
    /* background-color: #5D6063; */
    color: #ffffff;
    border-radius: 10px;
    font-size: 2em;
    width: 340px;
    height: 120px;
    /* word-wrap: normal; */
    font-weight: bold;
    -webkit-text-stroke: #000000 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #cecece;

}

.links a:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    /* background-color: aqua; */
}

/* h1,h2,h3,h4,h5,h6{
    padding: 50px; 
    background-color:#DDE0E3;
    border: 1px solid #5D6063;
    box-sizing: border-box;
    text-align: center;
} */

.nav-buttons{
    background-color: #343434ff;
    text-align: left;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    /* position: absolute; */
}

.nav-buttons a{
    padding: 10px;
    border: black solid 1px;
    text-decoration: none;
    color: #f3f3f3ff;
}

.nav-buttons a:hover{
    background-color: #00d2b4ff;
    color: #363636ff;
}
